<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">History of Superconductivity</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive " src="img/about/Pic1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>April 1911</h4>
                                    <h4 class="subheading">The new era emerges</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Superconductivity as a phenomenon for the first time was observed by Dutch physicist Heike Kamerlingh Onnes. Using liquid helium as a refrigerant, he was able to cool mercury to 4.2 kelvins. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive rounded-circle" src="img/about/Pic2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 1933</h4>
                                    <h4 class="subheading">Meissener–Ochsenfeld Effect</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The repulsion of an external magnetic field by a superconductor was later named by the physists. This was done by measuring the magnetic field distribution outside superconducting tin and lead samples.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Pic3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1987</h4>
                                    <h4 class="subheading">First liquid nitrogen superconductors</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">A team at the University of Alabama in Huntsville, University of Houston, and workers at the Carnegie Institution of Washington created the first Yttrium barium copper oxide (YBCO) superconductor. High critical temperature (Tc) caused a massive impact on science. Many people were offered to major superconductivity at college. Even my father was regarding this option as a potential direction of his career.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Pic4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2000</h4>
                                    <h4 class="subheading">The only way is up! 
                  Room temperature</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Johan Prins claimed to have observed a phenomenon that he explained as room-temperature superconductivity within a phase formed on the surface of oxygen-doped type IIa diamonds. From that moment researchers all around the world discovered new materials that were able to superconduct at room temperature. The only downside is that all materials require enourmously high pressure to become a superconductor, which is still a great substitidute to the extremly low temperatures. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part <br>
                                    of this <br> Fascinating
                                    Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>