<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Why should you explore Superconductivity?</h2>
                    <h3 class="section-subheading text-muted"> </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <img src="/img/pic 5.png" class="fa  fa-stack-1x fa-inverse">
                    </span>
                    <h4 class="service-heading">Effect on The World</h4>
                    <p class="text-muted">The effect that superconductors exerted on the world was enourmous. At the time when superconductors with critical temperature of a liquid nitrogen were first discovered, It was thought that there are the future of electronics and universitites were providing a possibility to major in supercondctivity. Even my father had to choose between this specification and engineering.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                      <img src="/img/pic4.png"
class="fa fa-stack-1x fa-inverse">
                    </span>
                  <h4 class="service-heading">Wide Area of Usage</h4>
                    <p class="text-muted">Superconductors are utilized widely in the modern world. Transportation, military, power utilities and ext, however, the industry that benefits the most from the implementation of superconductor is healthcare. The fact superconductors lose their properties in a magnetic was utilized by The Korean Superconductivity Group. Since superconductor’s resistance is highly dependent on the magnitude of an external magnetic field, they are extremely useful in magnetoencephalography. A patient’s body could be submerged into much weaker magnetic field and therefore decrease or completely eliminate the negative influence of MRI. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <img src="/img/pic 6.png"
class="fa fa-laptop fa-stack-1x fa-inverse">
                    </span>
                    <h4 class="service-heading">The Future
</h4>
                    <p class="text-muted">
                      Currently, the industry of superconductivity is evolving rapidly. Some of the latest investigations report the creation of organic superconductors (which consist organic matter in it) and even ultraconductors which are considered a new type of matter. 
                      In order to keep the pace with the extreme speed of enhancement of knowledge in this area, I highly recomend you regarding superconductors as a possible driving force of the future and I engage you to explore this topic more. As a start, you can take a look at my own portfolio placed beneath, where I documented my journey.</p>
                </div>
            </div>
        </div>
    </section>