<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What is a superconductor?</h2>
                    <h3 class="section-subheading text-muted">Main aspects</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <img src="/img/Pic1.png" class="fa  fa-stack-1x fa-inverse">
                    </span>
                    <h4 class="service-heading">Zero Resitivity</h4>
                    <p class="text-muted">Superconductivity is the phenomena of zero electrical resistance that occurs in certain materials at very low temperatures. The main difference is that while the resistance of a superconductor abruptly drops once it reaches its critical temperature, the resistance of a regular one gradually decreases as the temp diminishes.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                      <img src="/img/Pic2.png"
class="fa fa-stack-1x fa-inverse">
                    </span>
                  <h4 class="service-heading">Meissner Effect</h4>
                    <p class="text-muted">Once the superconductor exceeds its critical temperature, the external magnetic field will not penetrate the material. Moreover, the superconductor will create an opposing magnetic field. That phenomenon describes why does the magnet levitate over a superconductor when it reaches a specific temperature.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <img src="/img/Pic3.png"
class="fa fa-laptop fa-stack-1x fa-inverse">
                    </span>
                    <h4 class="service-heading">Two Types
</h4>
                    <p class="text-muted">Superconducting materials are divided into two different categories. I type (soft) and II type (hard). While type I superconductors are mostly distinguished from type II by the reluctance for the external magnetic fields, the first type is usually exhibited by pure metals, while the second type is exemplified by complex oxide-based ceramics.</p>
                </div>
            </div>
        </div>
    </section>